<%- include('../includes/head'); %>
  </head>
  <body>
    <%- include('../includes/nav'); %>
    <main>
      <% if(products.length > 0 ) { %>
          <ul>
            <% products.forEach(item => { %>
              <li>
                <p>
                  <%= item.productData.title %> (<%= item.qty %>)
                </p>
                <form action="/cart-delete-item" method="POST">
                  <input type="hidden" name="productId" value="<%= item.productData.id %>">
                  <button class="btn" type="submit">Delete</button>
                </form>
              </li>
              <% }) %>
          </ul>
        <% } else { %>
          <h1>NO Product Found in CART!!</h1>
          <% } %>
    </main>
    <%- include('../includes/end'); %>